body {
    background-image: url(actividad-fisica.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Righteous', cursive;
    background-size: 100% 100%; 
    }

form {
    width: 510px;
    margin: 0 auto;
    background-color: rgba(29, 238, 64, 0.644);
    padding: 10px;
    border-radius: 5px;
    }

#title-and-description {
    width: 400px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}

#title {
    padding: 0 0 0 60px;
}

#description {
    width: 800px;
}

.cosas__formulario {
    width: 500px;
    }

#submit {
    padding: 15px;
    width: 500px; 
    margin: 0 auto;
    border: 7px solid rgb(13, 130, 138);
    background-color: rgb(241, 237, 18);  
}